*, *:before, *:after { box-sizing: border-box; }
body { height: 100vh; background: #ccc; overflow: hidden; }



nav {
  margin: 30px auto;
  top: 0;
  position: absolute;
  z-index: 10;
  right: 30px;
  @include MQ(S){
    margin: 20px auto;
    top: 0;
    right: 10px;
  }
  .modal-container {
    position: relative;
    display: inline-table;
  }   
  .modal-btn {
    font-weight: 300;
    text-transform: uppercase;
    border: 1px solid white;
    
    font-style: 1vw;
    display: block;
    // margin: 0 auto;
    margin: 0px 20px;
    color: #fff;
    width: auto;
    // height: 50px;
    padding: 15px;
    // line-height: 50px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease-in;
    @include MQ(S) {
      font-size: 2.4vw;
      margin: 0 5px;
    }
    @include MQ(M) {
      font-size: 1.5vw;
    }
    @include MQ(L) {
      font-size: 22px;
      font-size: 1.2vw;
    }
    &:hover {
      background: #f37871;
    }
    a {
      text-decoration: none;
    }

    
  }

  .black-btn {
    margin: 0 auto;
    border: 1px solid black;
    &:hover {
      background: #f37871;
    }
    @include MQ(S) {
      width: 50%;
    }
    @include MQ(M) {
      width: 15%;
    }
  }
  .modal-content, 
  .modal-backdrop {
    height: 0; 
    width: 0; 
    opacity: 0;    
    visibility: hidden;
    overflow: hidden; 
    cursor: pointer;
    color:black;
    transition: opacity 0.2s ease-in;
    
    h2 {
      font-family: 'nick';
      
      text-align: center;
      @include MQ(S) {      
        font-size: 53px;
        font-size: 12.8vw;
      }
      @include MQ(M) {      
        font-size:30px;
        font-size: 3.5vw;
      }
    }
    p {
      line-height: 1.5em;
      
      letter-spacing: 1px;
      padding: 20px 0px;
      @include MQ(S) {
        font-size: 20px;
        font-size:4.5vw;
      }
      @include MQ(M) {
        font-size: 1.5vw;
      }
      @include MQ(L) {
        font-size: 2.0vw;
      }
    }
    a {
      color: black;
    }
  }
  .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover { color: #333; }        
  }      
  .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
    &:hover { color: #fff; background: #365690; }
  }
  #modal-check, #modal-submit {
    display: none;  
    &.active ~ .modal-backdrop,
    &:checked ~ .modal-backdrop {
      background-color: rgba(0, 0, 0, 0.6);
      width: 100vw;
      height: 100vh;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 9;
      visibility: visible;
      opacity: 1;      
      transition: opacity 0.2s ease-in; 
    }
    &.active ~ .modal-content,
    &:checked ~ .modal-content {
      opacity: 1;
      background-color: #fff;
      width: 100%;
      position: fixed;
      z-index: 999;
      pointer-events: auto;
      cursor: auto;
      visibility: visible;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6); 
      @include MQ(S) {
        left: 0;
        padding: 20% 15%;
        height: 100%;
        top: 0;
      }
      @include MQ(M) {
        left: calc(50% - 430px);
        padding: 2%;
        height: auto;
        top: 14%;
        max-width: 860px;
      }
      // @media (max-width: 400px) { left: 0; }                   
    }  
  }
}