/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700';
@import '../partials/fonts';
@import '../partials/layout';
@import '../partials/mixins';
@import '../partials/variables';
@import 'modal';



*, *::after, *::before {
  @include box-sizing(border-box);
}

html {
  font-size: 62.5%;
}

body {
    background-image: url('http://mary.wtf/images/background.png');
    background-size: 100%;
    color: #FFF;
  font: {
    // size: 1.6rem;
    family: $primary-font;
  }
  color: $color-1;
  // background-color: darken($color-3, 5%);
}
body, html {
  height: 100%;
  margin: 0;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: default;
}

.mobile_only {
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  display: none;
  display: none;
  @include MQ(S) {
    display: block;
  }
  @include MQ(M) {
    display: none;
  }
  @include MQ(L) {
    display: none;
  }
}

.woman_00, .woman_01, .woman_02, .woman_03, .man_00 {
  @include MQ(S) {
      display: block;
    }
    @include MQ(M) {
      display: none;
    }
    @include MQ(L) {
      display: none;
    }
}

.woman_00 {
    background-image: url(../images/woman_00.gif);
}

.woman_01 {
    background-image: url(../images/woman_01.gif);
}
.woman_02 {
    background-image: url(../images/woman_02.gif);
}
.woman_03 {
    background-image: url(../images/woman_03.gif);
}
.woman_04 {
    background-image: url(../images/woman_04.gif);
}
.woman_05 {
    background-image: url(../images/woman_05.gif);
}
.woman_06 {
    background-image: url(../images/woman_06.gif);
}
.man_00 {
    background-image: url(../images/man_00.gif);
}
.man_01 {
    background-image: url(../images/man_01.gif);
}
.man_02 {
    background-image: url(../images/man_02.gif);
}


span.small{
  a {
    color: white;
    cursor: pointer;
    position: relative;
    top: -2px;
  }
  @include MQ(S) {
    margin-left:0;
    font-size: 10px;
    font-size: 2vw;
    top: 50px;
    // position: relative;
  }

  @include MQ(M) {
    font-weight: 400;
    font-size: 10px;
    font-size: 1vw;
  }
}

span.bold {
  font-weight: 700;
  @include MQ(S) {
    font-size: 40px;
    font-size: 8vw;
  }
  @include MQ(M) {
    font-size: 20px;
    font-size: 6vw;
  }
  
}

// a {
//   color: $color-2;
//   text-decoration: none;
// }

.carousel {
  height: 100%;
  overflow: hidden;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
}


.black {
  background-color: black;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

#slideshow {
    background: transparent;
    width: 80%;
    height: 10%;
    bottom: 0px;
    top: 20%;
    left: 10%;
    position: absolute;
    @include MQ(S) {
      width: 100%;
      left: 0;
    }
}

.overlay {
  background: rgba(242, 124, 114, 0.49);
  height: 100vh;
}

#slideshow > div {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    h2 {
      position: absolute;
      font-weight: 300;
    }
    p {
      margin: 0 auto;
      font-weight: 300;
    }

    .facts {
      background: rgba(242, 124, 114, 0.49);
    }

    // img + .facts {
    //   position: absolute;
    //   bottom: 5%;
    //   h2 {
    //     position: initial;
    //     top: 0;
    //     padding: 0;
    //     font-size: 2.5vw;
    //     padding: 4%;

    //   }
    // }

    @include MQ(S) {

      // img + .facts {
      //   position: absolute;
      //   bottom: 5%;
      //   width: 100%;
      //   text-align: center;
      // }
      width: auto;
      img {
        width: 700px;
      }
      h2 {
        padding: 0;
        font-size: 3.7vw;
        position: relative;
      }
      .facts {
        width: 320px;
        padding: 2%;
      }
      p {
        width: 100%;
        font-size: 50px;
        font-size: 6vw;
        line-height: 1.3em;
      }
    }

    @include MQ(SL) {
      img {
        margin-top: -22px;
      }
      h2 {
        font-size: 2vw;
        top: -90px;
      }
      p {
        font-size: 4vw;
      }
    }

    @include MQ(M) {
      width: 100%;
      img {
        // margin-top: 0;
        width: 100%;
      }
      .facts {
        width: 100%;
      }
      p {
        width: 70%;
        font-size: 5vw;
      }
    }
    @include MQ(L) {
      img {
        position: relative;
        width: 100%;
      }
      h2 {
        padding:0;
        font-size: 1.5vw;
      }
    }
}

video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -100;
  background-image: url('http://mary.wtf/images/background.png') no-repeat;
  background-size: cover;
  // transition: 1s opacity;
  // min-height: 100%;
  // min-width: 100%;
  // max-width: none;
  // height: auto;
  // width: auto;
  // position: absolute;
  @include MQ(M) {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0%) translateY(0%);
  }

  @include MQ(L) {
    height: auto !important;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Fade CSS */

.flickity-slider {
  transform: none !important;
}

.carousel-cell {
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0
}

.flickity-viewport {
  height: 100% !important;
}

.addthis_inline_share_toolbox {
  position: absolute;
  bottom: 0;
  right: 10px;
}