@font-face {
    font-family:'nick';
    src:
        url('../font/Nickainley/OTF/Nickainley.otf') format('otf'),
        url('../font/Nickainley/TTF/Nickainley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}