// colors

$color-1: #2c343b; // 
$color-2: #d44457; //
$color-3: #ffffff; // White

// fonts 

$primary-font: 'Open Sans', sans-serif;

// header height 

$header-S: 50px;
$header-M: 70px;
$header-L: 140px;

// intro height

$intro-height-S: 100vh;
$intro-height-M: 100vh;
$intro-height-L: 100vh;