/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700";
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'nick';
  src: url("../font/Nickainley/OTF/Nickainley.otf") format("otf"), url("../font/Nickainley/TTF/Nickainley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/modal.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 2, ../sass/modal.scss */
body {
  height: 100vh;
  background: #ccc;
  overflow: hidden;
}

/* line 6, ../sass/modal.scss */
nav {
  margin: 30px auto;
  top: 0;
  position: absolute;
  z-index: 10;
  right: 30px;
}
@media only screen and (min-width: 320px) {
  /* line 6, ../sass/modal.scss */
  nav {
    margin: 20px auto;
    top: 0;
    right: 10px;
  }
}
/* line 17, ../sass/modal.scss */
nav .modal-container {
  position: relative;
  display: inline-table;
}
/* line 21, ../sass/modal.scss */
nav .modal-btn {
  font-weight: 300;
  text-transform: uppercase;
  border: 1px solid white;
  font-style: 1vw;
  display: block;
  margin: 0px 20px;
  color: #fff;
  width: auto;
  padding: 15px;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease-in;
}
@media only screen and (min-width: 320px) {
  /* line 21, ../sass/modal.scss */
  nav .modal-btn {
    font-size: 2.4vw;
    margin: 0 5px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 21, ../sass/modal.scss */
  nav .modal-btn {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 21, ../sass/modal.scss */
  nav .modal-btn {
    font-size: 22px;
    font-size: 1.2vw;
  }
}
/* line 49, ../sass/modal.scss */
nav .modal-btn:hover {
  background: #f37871;
}
/* line 52, ../sass/modal.scss */
nav .modal-btn a {
  text-decoration: none;
}
/* line 59, ../sass/modal.scss */
nav .black-btn {
  margin: 0 auto;
  border: 1px solid black;
}
/* line 62, ../sass/modal.scss */
nav .black-btn:hover {
  background: #f37871;
}
@media only screen and (min-width: 320px) {
  /* line 59, ../sass/modal.scss */
  nav .black-btn {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 59, ../sass/modal.scss */
  nav .black-btn {
    width: 15%;
  }
}
/* line 72, ../sass/modal.scss */
nav .modal-content,
nav .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  cursor: pointer;
  color: black;
  transition: opacity 0.2s ease-in;
}
/* line 83, ../sass/modal.scss */
nav .modal-content h2,
nav .modal-backdrop h2 {
  font-family: 'nick';
  text-align: center;
}
@media only screen and (min-width: 320px) {
  /* line 83, ../sass/modal.scss */
  nav .modal-content h2,
  nav .modal-backdrop h2 {
    font-size: 53px;
    font-size: 12.8vw;
  }
}
@media only screen and (min-width: 768px) {
  /* line 83, ../sass/modal.scss */
  nav .modal-content h2,
  nav .modal-backdrop h2 {
    font-size: 30px;
    font-size: 3.5vw;
  }
}
/* line 96, ../sass/modal.scss */
nav .modal-content p,
nav .modal-backdrop p {
  line-height: 1.5em;
  letter-spacing: 1px;
  padding: 20px 0px;
}
@media only screen and (min-width: 320px) {
  /* line 96, ../sass/modal.scss */
  nav .modal-content p,
  nav .modal-backdrop p {
    font-size: 20px;
    font-size: 4.5vw;
  }
}
@media only screen and (min-width: 768px) {
  /* line 96, ../sass/modal.scss */
  nav .modal-content p,
  nav .modal-backdrop p {
    font-size: 1.5vw;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 96, ../sass/modal.scss */
  nav .modal-content p,
  nav .modal-backdrop p {
    font-size: 2.0vw;
  }
}
/* line 112, ../sass/modal.scss */
nav .modal-content a,
nav .modal-backdrop a {
  color: black;
}
/* line 116, ../sass/modal.scss */
nav .modal-close {
  color: #aaa;
  position: absolute;
  right: 5px;
  top: 5px;
  padding-top: 3px;
  background: #fff;
  font-size: 16px;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
/* line 129, ../sass/modal.scss */
nav .modal-close:hover {
  color: #333;
}
/* line 131, ../sass/modal.scss */
nav .modal-content-btn {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 20px;
  right: 30px;
  background: #446CB3;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  height: 32px;
  padding-top: 9px;
  font-weight: normal;
}
/* line 145, ../sass/modal.scss */
nav .modal-content-btn:hover {
  color: #fff;
  background: #365690;
}
/* line 147, ../sass/modal.scss */
nav #modal-check, nav #modal-submit {
  display: none;
}
/* line 149, ../sass/modal.scss */
nav #modal-check.active ~ .modal-backdrop, nav #modal-check:checked ~ .modal-backdrop, nav #modal-submit.active ~ .modal-backdrop, nav #modal-submit:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
/* line 162, ../sass/modal.scss */
nav #modal-check.active ~ .modal-content, nav #modal-check:checked ~ .modal-content, nav #modal-submit.active ~ .modal-content, nav #modal-submit:checked ~ .modal-content {
  opacity: 1;
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;
  visibility: visible;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 320px) {
  /* line 162, ../sass/modal.scss */
  nav #modal-check.active ~ .modal-content, nav #modal-check:checked ~ .modal-content, nav #modal-submit.active ~ .modal-content, nav #modal-submit:checked ~ .modal-content {
    overflow: auto;
    left: 0;
    padding: 20% 15%;
    height: 100%;
    top: 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 162, ../sass/modal.scss */
  nav #modal-check.active ~ .modal-content, nav #modal-check:checked ~ .modal-content, nav #modal-submit.active ~ .modal-content, nav #modal-submit:checked ~ .modal-content {
    left: calc(50% - 430px);
    padding: 2%;
    height: auto;
    top: 14%;
    max-width: 860px;
  }
}

/* line 17, ../sass/screen.scss */
*, *::after, *::before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 21, ../sass/screen.scss */
html {
  font-size: 62.5%;
}

/* line 25, ../sass/screen.scss */
body {
  background-image: url("http://mary.wtf/images/background.png");
  background-size: 100%;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

/* line 36, ../sass/screen.scss */
body, html {
  height: 100%;
  margin: 0;
}

/* line 41, ../sass/screen.scss */
.mobile_only {
  background-repeat: repeat-y;
  background-size: contain;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  display: none;
  display: none;
}
@media only screen and (min-width: 320px) {
  /* line 41, ../sass/screen.scss */
  .mobile_only {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 41, ../sass/screen.scss */
  .mobile_only {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 41, ../sass/screen.scss */
  .mobile_only {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  /* line 61, ../sass/screen.scss */
  .woman_00, .woman_01, .woman_02, .woman_03, .man_00 {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/screen.scss */
  .woman_00, .woman_01, .woman_02, .woman_03, .man_00 {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 61, ../sass/screen.scss */
  .woman_00, .woman_01, .woman_02, .woman_03, .man_00 {
    display: none;
  }
}

/* line 73, ../sass/screen.scss */
.woman_00 {
  background-image: url(../images/woman_00.gif);
}

/* line 77, ../sass/screen.scss */
.woman_01 {
  background-image: url(../images/woman_01.gif);
}

/* line 80, ../sass/screen.scss */
.woman_02 {
  background-image: url(../images/woman_02.gif);
}

/* line 83, ../sass/screen.scss */
.woman_03 {
  background-image: url(../images/woman_03.gif);
}

/* line 86, ../sass/screen.scss */
.man_00 {
  background-image: url(../images/man_00.gif);
}

/* line 90, ../sass/screen.scss */
.overlay {
  opacity: .5;
  background: linear-gradient(to bottom, #f37970 0%, #efa584 50%, rgba(243, 121, 112, 0.5) 100%);
}

/* line 96, ../sass/screen.scss */
span.small {
  font-weight: 400;
  font-size: 10px;
  font-size: 1vw;
  margin-left: 20%;
}
/* line 101, ../sass/screen.scss */
span.small a {
  color: white;
  cursor: pointer;
  position: relative;
  top: -2px;
}
@media only screen and (min-width: 320px) {
  /* line 96, ../sass/screen.scss */
  span.small {
    margin-left: 0;
    font-size: 10px;
    font-size: 2vw;
    top: 50px;
    position: relative;
  }
}

/* line 116, ../sass/screen.scss */
span.bold {
  font-weight: 700;
}
@media only screen and (min-width: 320px) {
  /* line 116, ../sass/screen.scss */
  span.bold {
    font-size: 40px;
    font-size: 8vw;
  }
}
@media only screen and (min-width: 768px) {
  /* line 116, ../sass/screen.scss */
  span.bold {
    font-size: 20px;
    font-size: 6vw;
  }
}

/* line 134, ../sass/screen.scss */
.carousel {
  height: 100%;
  overflow: hidden;
}

/* line 139, ../sass/screen.scss */
.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: transparent;
  border-radius: 5px;
}

/* line 148, ../sass/screen.scss */
.black {
  background-color: black;
}

/* line 152, ../sass/screen.scss */
.green {
  background-color: green;
}

/* line 156, ../sass/screen.scss */
.blue {
  background-color: blue;
}

/* line 160, ../sass/screen.scss */
.red {
  background-color: red;
}

/* line 164, ../sass/screen.scss */
.yellow {
  background-color: yellow;
}

/* line 168, ../sass/screen.scss */
#slideshow {
  background: transparent;
  width: 80%;
  height: 10%;
  bottom: 0px;
  top: 20%;
  left: 10%;
  position: absolute;
}
@media only screen and (min-width: 320px) {
  /* line 168, ../sass/screen.scss */
  #slideshow {
    width: 100%;
    left: 0;
  }
}

/* line 182, ../sass/screen.scss */
#slideshow > div {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}
/* line 189, ../sass/screen.scss */
#slideshow > div h2 {
  position: absolute;
  font-weight: 300;
}
/* line 193, ../sass/screen.scss */
#slideshow > div p {
  margin: 0 auto;
  font-weight: 300;
}
@media only screen and (min-width: 320px) {
  /* line 182, ../sass/screen.scss */
  #slideshow > div {
    width: auto;
  }
  /* line 200, ../sass/screen.scss */
  #slideshow > div img {
    width: 700px;
  }
  /* line 203, ../sass/screen.scss */
  #slideshow > div h2 {
    padding: 0;
    font-size: 4vw;
    position: relative;
  }
  /* line 208, ../sass/screen.scss */
  #slideshow > div .facts {
    width: 320px;
    padding: 2%;
  }
  /* line 212, ../sass/screen.scss */
  #slideshow > div p {
    width: 100%;
    font-size: 50px;
    font-size: 6vw;
    line-height: 1.3em;
  }
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
  /* line 221, ../sass/screen.scss */
  #slideshow > div img {
    margin-top: 80px;
  }
  /* line 224, ../sass/screen.scss */
  #slideshow > div h2 {
    font-size: 2vw;
    top: -90px;
  }
  /* line 228, ../sass/screen.scss */
  #slideshow > div p {
    font-size: 4vw;
  }
}
@media only screen and (min-width: 768px) {
  /* line 182, ../sass/screen.scss */
  #slideshow > div {
    width: 100%;
  }
  /* line 235, ../sass/screen.scss */
  #slideshow > div img {
    margin-top: 0;
    width: 100%;
  }
  /* line 239, ../sass/screen.scss */
  #slideshow > div .facts {
    width: 100%;
  }
  /* line 242, ../sass/screen.scss */
  #slideshow > div p {
    width: 70%;
    font-size: 5vw;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 248, ../sass/screen.scss */
  #slideshow > div img {
    position: relative;
    width: 70%;
  }
  /* line 252, ../sass/screen.scss */
  #slideshow > div h2 {
    padding: 0;
    font-size: 1.5vw;
  }
}

/* line 259, ../sass/screen.scss */
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -100;
  background-image: url("http://mary.wtf/images/background.png") no-repeat;
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  /* line 259, ../sass/screen.scss */
  video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0%) translateY(0%);
  }
}
@media only screen and (min-width: 1200px) {
  /* line 259, ../sass/screen.scss */
  video {
    height: auto !important;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
  }
}

/* Fade CSS */
/* line 294, ../sass/screen.scss */
.flickity-slider {
  transform: none !important;
}

/* line 298, ../sass/screen.scss */
.carousel-cell {
  left: 0 !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: -1;
}

/* line 305, ../sass/screen.scss */
.carousel-cell.is-selected {
  opacity: 1;
  z-index: 0;
}

/* line 310, ../sass/screen.scss */
.flickity-viewport {
  height: 100% !important;
}
