/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "https://fonts.googleapis.com/css?family=Monoton";
@import "https://fonts.googleapis.com/css?family=Merriweather+Sans:800";
@import "https://fonts.googleapis.com/css?family=Londrina+Outline";
@import "https://fonts.googleapis.com/css?family=Exo:800,900";
@import "https://fonts.googleapis.com/css?family=Days+One";
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/glow.scss */
body {
  background-color: #222222;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0/15px 15px;
}

/* line 6, ../sass/glow.scss */
#container {
  position: relative;
}

/*neeeeoooon*/
/* line 12, ../sass/glow.scss */
.neon {
  text-align: center;
  font-size: 10em;
  margin: 20px 0 20px 0;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 22, ../sass/glow.scss */
.neon:nth-child(1) {
  color: #fff;
  font-family: Monoton;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

/* line 32, ../sass/glow.scss */
.neon:hover {
  color: #ffffff;
}

/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
  }
}
/*REEEEEEEEEEESPONSIVE*/
@media (max-width: 650px) {
  /* line 72, ../sass/glow.scss */
  #container {
    width: 100%;
  }

  /* line 75, ../sass/glow.scss */
  p {
    font-size: 3.5em;
  }
}
/* line 18, ../sass/screen.scss */
* {
  box-sizing: border-box;
}

/* line 20, ../sass/screen.scss */
body {
  font-family: sans-serif;
}

/* line 23, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

/* line 29, ../sass/screen.scss */
h1 {
  text-align: center;
  font-size: 11em;
  font-weight: 900;
  font-family: 'Merriweather Sans', sans-serif;
}

/* line 35, ../sass/screen.scss */
h1.lon {
  text-align: center;
  font-size: 11em;
  font-weight: 900;
  font-family: 'Londrina Outline', cursive;
}

/* line 41, ../sass/screen.scss */
h1.exo {
  text-align: center;
  font-size: 11em;
  font-weight: 900;
  font-family: 'Exo', sans-serif;
}

/* line 47, ../sass/screen.scss */
h1.day {
  text-align: center;
  font-size: 11em;
  font-family: 'Days One', sans-serif;
}

/* line 54, ../sass/screen.scss */
h2 {
  text-align: center;
  font-size: 5em;
}

/* line 58, ../sass/screen.scss */
p {
  text-align: center;
}

/* line 61, ../sass/screen.scss */
.circle {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 128px;
  left: 48px;
  background: black;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 73, ../sass/screen.scss */
video {
  float: left;
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.5;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* line 80, ../sass/screen.scss */
video:hover {
  opacity: 1;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* line 86, ../sass/screen.scss */
#intro {
  position: relative;
  padding: 100px;
}

/* ---- background ---- */
/* line 94, ../sass/screen.scss */
.background {
  width: 100%;
  height: 100%;
  position: absolute;
}
/* line 100, ../sass/screen.scss */
.background .overlay {
  background: linear-gradient(to bottom, #f37970 0%, #efa584 50%, rgba(243, 121, 112, 0.5) 100%);
}
/* line 105, ../sass/screen.scss */
.background .slide {
  width: 100%;
  height: 400px;
  position: relative;
}

/* ---- grid ---- */
/* line 115, ../sass/screen.scss */
.grid {
  background: #EEE;
  /* center */
  margin: 0 auto;
}

/* clearfix */
/* line 122, ../sass/screen.scss */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
/* line 130, ../sass/screen.scss */
.grid-item {
  width: 540px;
  height: 300px;
  float: left;
  background: #ffffff;
  border: 1px solid #a78e96;
  border-color: rgba(0, 0, 0, 0.5);
}

/* line 139, ../sass/screen.scss */
.stat {
  font-weight: 400;
  float: left;
  line-height: 30px;
  position: relative;
  width: 33.33333%;
  height: 294px;
}

/* line 147, ../sass/screen.scss */
.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  position: relative;
}

@-webkit-keyframes "spaceboots" {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
  }
}
